<ion-content class="ion-padding">
  <div class="signup-card">
    <img src="assets/logo.svg" alt="TripFlow AI" class="logo" />
    <h1>Create Account</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Display Name</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      @if (fieldError('username')) {
        <ion-text color="danger">
          <p>{{ fieldError('username') }}</p>
        </ion-text>
      }

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      @if (fieldError('email')) {
        <ion-text color="danger">
          <p>{{ fieldError('email') }}</p>
        </ion-text>
      }

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      @if (fieldError('password')) {
        <ion-text color="danger">
          <p>{{ fieldError('password') }}</p>
        </ion-text>
      }

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
      @if (passwordMismatch) {
        <ion-text color="danger">
          <p>Passwords do not match.</p>
        </ion-text>
      }

      @if (generalError) {
        <ion-text color="danger">
          <p>{{ generalError }}</p>
        </ion-text>
      }

      <ion-button expand="block" type="submit" [disabled]="isSubmitting">
        {{ isSubmitting ? 'Creating account...' : 'Create Account' }}
      </ion-button>
    </form>

    <ion-text>
      Already have an account? <a routerLink="/login">Log in</a>
    </ion-text>
  </div>
</ion-content>
