<ion-content class="ion-padding">
  <div class="login-card">
    <img src="assets/logo.svg" alt="TripFlow AI" class="logo" />
    <h1>Log In</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input
          formControlName="email"
          type="email"
          label="Email"
          labelPlacement="floating"
          autocomplete="email"></ion-input>
      </ion-item>
      @if (fieldError('email')) {
        <ion-text color="danger" role="alert">
          <p>{{ fieldError('email') }}</p>
        </ion-text>
      }

      <ion-item>
        <ion-input
          formControlName="password"
          type="password"
          label="Password"
          labelPlacement="floating"
          autocomplete="current-password"></ion-input>
      </ion-item>
      @if (fieldError('password')) {
        <ion-text color="danger" role="alert">
          <p>{{ fieldError('password') }}</p>
        </ion-text>
      }

      @if (generalError) {
        <ion-text color="danger" role="alert">
          <p>{{ generalError }}</p>
        </ion-text>
      }

      <ion-button expand="block" type="submit" [disabled]="isSubmitting">
        {{ isSubmitting ? 'Logging in...' : 'Log In' }}
      </ion-button>
    </form>

    <ion-text>
      Don't have an account? <a routerLink="/signup">Sign up</a>
    </ion-text>
  </div>
</ion-content>
